In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

Information about the data:

**user_usage.csv:** This dataset containing users monthly mobile usage statistics.

**user_device.csv:** This dataset containing details of an individual “use” of the system, with dates and device information.

**android_device.csv:** This dataset with device and manufacturer data, which lists all Android devices and their model code.

In [0]:
import pandas as pd
import numpy as np

In [4]:
user_usage = pd.read_csv('/content/drive/My Drive/Pandas-Merge-Tutorial-master/user_usage.csv')
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [5]:
user_device = pd.read_csv('/content/drive/My Drive/Pandas-Merge-Tutorial-master/user_device.csv')
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [6]:
android_devices = pd.read_csv('/content/drive/My Drive/Pandas-Merge-Tutorial-master/android_devices.csv')
android_devices.head()

  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A

We would like to determine if the usage patterns for users differ between different devices. For example, do users using Samsung devices use more call minutes than those using LG devices? This is a toy problem given the small sample size in these dataset, but is a perfect example of where merges are required.

In [14]:
result = pd.merge(user_usage, user_device[['use_id', 'platform', 'device']],
                  on='use_id', how = 'left')

result.head()

   outgoing_mins_per_month  outgoing_sms_per_month  ...  platform    device
0                    21.97                    4.82  ...   android  GT-I9505
1                  1710.08                  136.88  ...   android  SM-G930F
2                  1710.08                  136.88  ...   android  SM-G930F
3                    94.46                   35.17  ...   android     D2303
4                    71.59                   79.26  ...   android  SM-G361F

[5 rows x 6 columns]

In [15]:
user_usage.shape

(240, 4)

In [16]:
result.shape

(240, 6)

In [17]:
#Check how many values match in both dataframes.
user_usage['use_id'].isin(user_device['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

In [18]:
android_devices.rename(columns={'Retail Branding':'Manufacturer'}, inplace=True)

final = pd.merge(result, android_devices[['Manufacturer', 'Model']], 
                 left_on='device', right_on='Model',
                 how='left')

final.head()

   outgoing_mins_per_month  outgoing_sms_per_month  ...  Manufacturer     Model
0                    21.97                    4.82  ...       Samsung  GT-I9505
1                  1710.08                  136.88  ...       Samsung  SM-G930F
2                  1710.08                  136.88  ...       Samsung  SM-G930F
3                    94.46                   35.17  ...          Sony     D2303
4                    71.59                   79.26  ...       Samsung  SM-G361F

[5 rows x 8 columns]

In [20]:
final.groupby("Manufacturer").agg({
        "outgoing_mins_per_month": "mean",
        "outgoing_sms_per_month": "mean",
        "monthly_mb": "mean",
        "use_id": "count"
    })

              outgoing_mins_per_month  ...  use_id
Manufacturer                           ...
HTC                        299.842955  ...      44
Huawei                      81.526667  ...       3
LGE                        111.530000  ...       2
Lava                        60.650000  ...       2
Lenovo                     215.920000  ...       2
Motorola                    95.127500  ...      16
OnePlus                    354.855000  ...       6
Samsung                    191.010093  ...     108
Sony                       177.315625  ...      16
Vodafone                    42.750000  ...       1
ZTE                         42.750000  ...       1

[11 rows x 4 columns]